<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<insert id="join">
		INSERT INTO MEMBER
		(
		NO
		,ID
		,PWD
		,NICK
		,EMAIL
		)
		VALUES
		(
		SEQ_MEMBER_NO.NEXTVAL
		, #{id}
		, #{pwd}
		, #{nick}
		, #{email}
		)
	</insert>

	<select id="login" resultType="com.kh.app.member.vo.MemberVo">
		SELECT
		NO
		,ID
		,PWD
		,NICK
		,EDIT_DATE
		,QUIT_YN
		FROM MEMBER
		WHERE ID = #{id}
		AND PWD = #{pwd}

	</select>
	
	<select id="reload" resultType="com.kh.app.member.vo.MemberVo">
		SELECT
		NO
		,ID
		,PWD
		,NICK
		,EDIT_DATE
		,QUIT_YN
		FROM MEMBER
		WHERE ID = #{id}

	</select>


	<update id="edit">
		UPDATE MEMBER
		SET
		 PWD=#{pwd}
		, NICK=#{nick}
		,EDIT_DATE=CURRENT_TIMESTAMP
		WHERE NO=#{no}
		AND QUIT_YN='N'
	</update>

	<select id="idCheck" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE
		ID = #{id}
	</select>
	
	 <select id="pwdcheck" resultType="int">
		SELECT 
		COUNT(*)
		FROM MEMBER
		WHERE NO=#{no}
		AND PWD=#{pwd}
	</select> 
	
	<select id="emailCertification" resultType="com.kh.app.member.vo.MemberVo">
		SELECT 
		NO
		,ID
		,PWD
		,NICK
		,EMAIL
		FROM MEMBER
		WHERE EMAIL=#{email}
	</select> 
	
	<select id="getIdByEmail" resultType="String">
		SELECT 
		ID
		FROM MEMBER
		WHERE EMAIL=#{email}
	</select> 
	
	<select id="getPwdByEmail" resultType="String">
		SELECT
		PWD
		FROM MEMBER
		WHERE  ID=#{id} 
		AND EMAIL=#{email}
	</select> 
	
	<select id="emailCheck" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE
		EMAIL=#{email}
	</select>

</mapper>